body {
    background: darkgray;
}
h2 {
    font-size: 38px;
    color: white;
    font-weight: normal;
}
.content {
    position: relative;
}
.container--wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.content > input {
    display: none;
}

.slider--content {
    width: 60rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.slide {
    height: inherit;
    opacity: 1;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider1 {
    background-color: black;
background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}
.slider2 {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}
.slider3 {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}
.slider4 {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}


.controls--wrap {
    display: flex;
    margin-left: auto;

}


.controls--wrap label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    transition: background ease-in-out .5s;
    border: 2px solid white;
}

.wrap{
    display: flex;
    align-items: center;
}
.description--mem {
    display: flex;
    margin-right: auto;
    position: relative;
}






#slider1:checked ~ .slider--content > .slider1,
#slider2:checked ~ .slider--content > .slider2,
#slider3:checked ~ .slider--content > .slider3,
#slider4:checked ~ .slider--content > .slider4{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.controls--wrap label:hover,
#slider1:checked ~ .controls--wrap label:nth-of-type(1),
#slider2:checked ~ .controls--wrap label:nth-of-type(2),
#slider3:checked ~ .controls--wrap label:nth-of-type(3),
#slider4:checked ~ .controls--wrap label:nth-of-type(4){
    background: #ddd;
}